fastapi==0.115.6
uvicorn[standard]==0.32.0
gunicorn==23.0.0
sqlalchemy==2.0.36
psycopg2-binary==2.9.10
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.18
cryptography==44.0.0
pydantic[email]==2.10.4
python-dotenv==1.0.1
httpx[http2]==0.28.1
PyJWT==2.10.1
redis==5.2.1
